<!DOCTYPE html>
<html>
<head>
    <title>Code Pivot</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="index-main">
        <div id="index-title-box">
            <div id="index-title">
            Code pivot
            </div>
        </div>
        <div id="index-task-list">
            {{ range .NotDoneTasks }}
            <a href="/task/{{.Name}}" class="index-task index-task-not-done">{{.Title}}</a>
            {{end}}

            {{range .DoneTasks}}
            <a href="/task/{{.Name}}" class="index-task index-task-done">{{.Title}}</a>
            {{end}}
            {{ if $.ShowEditLinks }} 
            <a href="/edit" class="index-task index-create">Create New</a>
            {{ end }}
        </div>
    </div>
</body>
</html>