<!DOCTYPE html>
<html>
<head>
    <title>Code Pivot</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="task-main">
        <div id="task-head-box">
            <a href="/" id="task-go-back">Go back</a>
            <div id="task-title">{{.Task.Title}}</div>
            {{ if $.ShowEditLinks }} 
            <a href="/edit/{{.Task.Name}}" class="task-edit">Edit</a>
            {{ end }}
        </div>
        <div class="task-body">
            {{.Task.Body1}}
        </div>

        {{ if not .ShowBody2 }}
        <a href="/input/{{.Task.Name}}">Input файл</a>
        {{ end }}

        {{ if .ShowAnswer1 }}
        <h2>ответ {{ .Task.Answer1 }}</h2>
        {{ else }}
        <form action="/submit/{{ .Task.Name }}/1" id="task-submit" method="post">
            <label for="name" class="task-answer-label">Ответ:   </label>
            <input type="text" id="answer" name="answer">
        </form>
        {{ end }}

        {{ if .ShowBody2 }}
        <div class="task-body">
            {{.Task.Body2}}
        </div>
        <a href="/input/{{.Task.Name}}">Input файл</a>
        {{ end }}

        {{ if .ShowAnswer2 }}
        <h2>ответ {{ .Task.Answer2 }}</h2>
        {{ else }}
        {{ if .ShowBody2 }}
            <form action="/submit/{{ .Task.Name }}/2" id="task-submit" method="post">
                <label for="name" class="task-answer-label">Ответ:   </label>
                <input type="text" id="answer" name="answer">
            </form>
        {{ end }}
        {{ end }}
    </div>
</body>
</html>